/* RESET CSS CODE */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET CSS TOOLS */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

span {
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 80px;
    min-height: 90px;
    max-width: 100%;
    background-color: white;

}

#header-container {
    height: 100px;
    margin: 0 100px;
    padding: 10px 50px;
    background-color: #fff;
    /* border: 3px solid darkblue; */
}

#header-div2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.navbar {
    padding: 30px 150px;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}

.logo-image {
    width: 60px;
    height: 60px;
}

.shop-icon {
    color: grey;
    padding: 7px 5px;
}

a {
    color: grey;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}

.contact {
    color: #666666;
    font-weight: bolder;
}

.contact:hover {
    color: lightgrey
}

#img-container1 {
    max-width: 100%;
    min-height: 480px;
    background-image: url('https://media.sellfy.com/images/807haLD5/mTm6/License_copy.png');
    background-position: center;
    background-size: cover;

}

#Contact-box {
    margin: 120px 0px 120px 50px;
}

#contact-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
}

.input-box {
    background-color: #e2e2e2;
    border: none;
    margin-top: 15px;
    height: 40px;
    padding-left: 15px;
}

.input-box:focus {
    outline: none;
}

.text-box {
    background-color: #e2e2e2;
    border: none;
    margin-top: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.text-box:focus {
    outline: none;
}

.text-box::placeholder {
    color: black;
}

.text-box-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button1 {
    background-color: rgb(198, 244, 213);
    color: #000000;
    border-radius: 25px;
    border: none;
    padding: 10px 16px;
    opacity: 1;
    font-size: 14px;
}

.button1:hover {
    background-color: rgb(150, 186, 162);
}
#bottom-email-box{
    border-radius: 50px;
    margin-top: 27px;
}
#Subscribe-button{
    margin-top:30px;
    margin-left: 5px;
}

#footer-image {
    background-image: url('https://d12swbtw719y4s.cloudfront.net/images/807haLD5/a5CtPM9Ll3N2oBvC1kjK/FQ3FbnflUq.png');
    min-height: 280px;
    max-width: 100%;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-image-center {
    width: 90%;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-subscribe {
    font-size: 35px;
    font-weight: 500;
}

#subscribe-text {
    font-weight: 1000;
}

#footer-image-left {
    width: 60%;
    line-height: 1.15;
}

#footer-image-right{
    display: flex;
    flex-direction: row;
}

#footer-subscribe-desc {
    padding-top: 10px;
}

#footer-section-1 {
    width: 100%;
    margin: 20px;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon {
    width: 14px;
    height: 14px;
    margin: 0 10px;
}

.footer-item {
    padding: 0px 10px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    color: lightgrey;
}

.footer-bottom-1 {
    margin: 10px 0;
}

.footer-bottom-2 {
    margin: 10px 0;
}

.sellfy {
    width: 58px;
    height: 20px;
}

.footer-lasttext {
    color: lightgrey;
}