body {
    background: transparent;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 90%;
    margin: 0 auto 0;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 4px 4px 17px black;
}

h1 {
    text-align: center;
    color: black;
}

::selection {
    color: white;
    background-color: black;
}

#form button {
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 13px;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

#form button:active {
    transform: scale(0.9);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.password-class input[type="password"],
.password-class [type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    /* Space for eye icon */
    font-size: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-group input {
    border-radius: 5px;
    font-size: 10px;
    margin-top: 3px;
    padding: 10px;
    border: 1px solid black;
}

.input-group #gender {
    margin-top: 4px;
    border-radius: 5px;
    font-size: 10px;
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
}

.input-group #profile {
    margin-top: 4px;
    border-radius: 5px;
    font-size: 10px;
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
}



sup {
    color: red;
}

.input-group input:focus {
    outline: 0;
}

.input-group #gender:focus {
    outline: 0;
}

.input-group .error {
    color: rgb(242, 18, 18);
    font-size: 14px;
    margin-top: 5px;
}

.input-group.success input {
    border-color: #0cc477;
}

.input-group.error input {
    border-color: rgb(206, 48, 48);
}

.input-group.success #gender {
    border-color: #0cc477;
}

.input-group.error #gender {
    border-color: rgb(206, 48, 48);
}

#form button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}

.profile-desc span {
    font-size: 10px;
}

#volumeControl input {
    color: black;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.toggle-password {
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}